<div class="container mt-4">

  <h2 class="mb-4 label-title-dashboard">⚙ Admin Dashboard</h2>

  <div class="row g-3">

    <div class="col-md-6">
      <a
        class="btn btn-primary w-100"
        routerLink="orders">
        Manage Orders
      </a>
    </div>

    <div class="col-md-6">
      <a
        class="btn btn-success w-100"
        routerLink="categories">
        Manage Categories
      </a>
    </div>

  </div>

  <!-- هنا الصفحات هتظهر -->
  <router-outlet></router-outlet>

</div>

