<div class="container mt-4">

  <h2 class="mb-4">⚙ Admin Dashboard</h2>

  <div class="row g-3">

    <div class="col-md-6">
      <button class="btn btn-primary w-100"
        routerLink="/admin/orders">
        Manage Orders
      </button>
    </div>

    <div class="col-md-6">
      <button class="btn btn-success w-100"
        routerLink="/admin/categories">
        Manage Categories
      </button>
    </div>

  </div>

  <!-- هنا الصفحات هتظهر -->
  <router-outlet></router-outlet>

</div>

